*{
	margin: 0;
	padding: 0;
}
#div1{
	width: 920px;
	height: 100px;
	margin: 100px auto;
	
	position: relative;
	background: red;
	overflow: hidden;	
}
#div1 ul{
	position: absolute;
	left: 0;
	top: 0;
}
#div1 ul li{
	float: left;
	width: 230px;
	height: 100px;
	list-style: none;
}
